<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99296020028-59upmbsbq2c9vavkghhdqd7kid7coaop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99296020028-59upmbsbq2c9vavkghhdqd7kid7coaop</string>
	<key>API_KEY</key>
	<string>AIzaSyD7GO3IYfOOjJdIOdewOt7IF5Dam1TThrc</string>
	<key>GCM_SENDER_ID</key>
	<string>99296020028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nb.notibell</string>
	<key>PROJECT_ID</key>
	<string>notibell</string>
	<key>STORAGE_BUCKET</key>
	<string>notibell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99296020028:ios:ec00786592d955b6602539</string>
</dict>
</plist>